#container {
    width: 480px;
    background: #b3ecb3;
    margin: auto;
    padding: 15px;
    font-size: 18px;
  }
  
  #title{
    font-weight: bolder;
    text-align: center;
  }
  
  button {
    margin: 10px 10px 10px 100px;
    border-color: white;
    border-radius: 2px;
    height: 30px;
  }
  
  #profile {
    margin: auto;
  }
  
  table, th, td {
    border: 1px solid black;
    text-align: center;
  }
  
  th , td {
    padding: 5px;
  }
  
  