*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.page {
    width: 780px;
    height: 640px;
    margin: 10px;
}

.page .setting {
    width: 160px;
    height: auto;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    border: 1px solid gray;
}

.setting .titleSet{
    width: 100%;
    height: 25px;
    font-size: 16px;
    display: flex;
    padding-left: 3px;
}

.setting .titleSet img {
    width: 20px;
    height: 20px;
}

.setting #form {
    display: flex;
    padding-top: 10px ;
}

.setting #form label {
    padding-left: 5px;
    padding-right: 5px;   
}

.page .main_play {
    width: 30%;
    height: 360px;
    margin: 80px auto;
    border: 1px solid gray;
} 

.page .main_play #timeSet{
    width: 100%;
    height: 1%;
}

.page .main_play #time{
    width: 96%;
    height: 100%;
    background: green;
    margin-left: 2%;
    transition-property: width;
}

.page .main_play #scoreCorrect {
    width: 100%;
    height: 4%;
    text-align: right;
    font-size: 18px;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
}

.page .main_play #answer {
    width: 100%;
    height: 70%;
    text-align: center;
    padding-top: 55%;
    font-size: 24px;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
}

.page .main_play #result {
    width: 100%;
    height: 25%;
    text-align: center;
}

.page .main_play img {
    width: 80px;
    padding-left: 15px;
    padding-right: 15px;
}